<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
    <filter-name>/token</filter-name>
    <filter-class>com.uniBoke.filter.FilterToken</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>/token</filter-name>
    <url-pattern>/user/token</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:application.xml</param-value>
  </context-param>
  <!--      Spring的监听器-->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!--  配置前端控制器-->
  <servlet>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <!-- 配置系统获得项目根目录 -->
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>root</param-value>
  </context-param>
  <!-- 负责将web应用根目录以webAppRootKey上下文参数指定的属性名添加到系统参数中 -->
  <listener>
    <listener-class>
      org.springframework.web.util.WebAppRootListener
    </listener-class>
  </listener>
</web-app>
